@{
    ViewBag.Title = "Contact";
}

<link href="~/Content/index.css" rel="stylesheet" type="text/css" />

<h2>Acerca de Nosotros</h2>

<div>
    <div">
        <img class="fondo" src="http://cdn.ttgtmedia.com/visuals/searchMidmarketSecurity/newAndNotableDefaultImage_2.jpg" />
        <img class="group" src="http://prod.static.colts.clubs.nfl.com/assets/docs/tickets/waitinglist/icon-group.png"  />
    </div>
    <div>
        <div class="nosotros">
            <img src="~/img/Abraham.png" />            
        </div>
        <div class="nosotros">
            <img src="~/img/Paul.png" />            
        </div>
        <div class="nosotros">
            <img src="~/img/Apodaca.png" />            
        </div>
        <div class="nosotrostext">
            <span>Gaxiola Cañedo Jesús Abraham</span> 
        </div>
        <div class="nosotrostext">
            <span>Germán Millan Paul Gregorio</span> 
        </div>
        <div class="nosotrostext">
            <span>Apodaca Atondo Jesús Ricardo</span> 
        </div>   
    </div>
</div>