@{
    ViewBag.Title = "Contact";
}

<link href="~/Content/index.css" rel="stylesheet" type="text/css" />

<h2 style="text-align: center;
margin-bottom: -40px;">Acerca de Nosotros</h2>

<div>
    <div>
        <div class="nosotros">
            <img src="~/img/Abraham.png" />            
        </div>
        <div class="nosotros">
            <img src="~/img/Paul.png" />            
        </div>
        <div class="nosotros">
            <img src="~/img/Apodaca.png" />            
        </div>
        <div class="nosotrostext">
            <span>Gaxiola Cañedo Jesús Abraham</span> 
        </div>
        <div class="nosotrostext">
            <span>Germán Millan Paul Gregorio</span> 
        </div>
        <div class="nosotrostext">
            <span>Apodaca Atondo Jesús Ricardo</span> 
        </div>   
    </div>
</div>