@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/index.css" rel="stylesheet" type="text/css"/>

<div class="" >
    <!--<div class="">
        <h1 style="text-align:center">Push Start</h1>
    </div>-->
    <br />
    <div style="box-shadow: 10px 10px 5px #000; border-radius: 10px;" class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="height:400px; border-radius: 10px;">
                <div class="item active">
                    <img src="https://content.halocdn.com/media/Default/games/halo-5-guardians/page/h5-guardians-facebook-1200x630-ba103624b3f34af79fe8cb2d340dce3f.jpg">
                </div>

                <div class="item">
                    <img src="http://media.vandal.net/i/1200x630/6-2016/201666202328_1.jpg">
                </div>

                <div class="item">
                    <img src="https://1.bp.blogspot.com/-EprwfX2jqIE/WCuTwTJbXVI/AAAAAAAAPiY/CWQsnqESVHUAVTqr5M6mWfhPbNI6L1_uwCLcB/w1200-h630-p-k-no-nu/Need-For-Speed-2017-PS4.jpg">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="container">
        <p>
            <a style="width: 20%;" id="productos" href="/Productos">Ver Juegos</a>
        </p>
    </div>
    <div id="pies">
        <div style="text-align:center;">
            <p>
                <img src="~/img/marcas.png" />
            </p>
        </div>
        <div>
            <div class="imagen" style="text-align:center;">
                <img class="" src="https://c1.staticflickr.com/3/2411/2323962640_63811f65d9.jpg" />
            </div>
            <div class="imagen" style="text-align:center;">
                <img class="" src="https://www.nowmd.com/wp-content/uploads/Microsoft-Logo.png" />
            </div>
            <div class="imagen" style="text-align:center;">
                <img class="" src="http://www.logotypes101.com/logos/919/CFA5B5334AC43F206D41DFAB7A2CDF4A/Activision.png" />
            </div>
            <div class="imagen" style="text-align:center;">
                <img class="" src="http://soundidents.info/content/big_logo/ubisoft.png" />
            </div>
            <div class="imagen" style="text-align:center;">
                <img class="" src="https://static1.squarespace.com/static/570c5acbf8baf32904ed1930/572102d74d088e83a8af61f8/572103d61d07c0772b5ccdfc/1461781469369/Rockstargames.png?format=300w" />
            </div>
            <div class="imagen" style="text-align:center;">
                <img class="" src="https://images-na.ssl-images-amazon.com/images/I/41xdh3ikceL._SY300_.jpg" />
            </div>
            <div class="imagen" style="text-align:center;">
                <img class="" src="http://xbox.gaminster.com/wp-content/uploads/2017/02/21c9254e80774e69123249214d59e074_xbox-one-logo-black-and-white-xbox-one-dynasty-game-clipart_4096-40961-300x300.png" />
            </div>
            <div class="imagen" style="text-align:center;">
                <img class="" src="http://www.cgvector.com/wp-content/uploads/2011/10/EA_Games-logo.jpg" />
            </div>
        </div> 
    </div>
       
</div>

